@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&family=Kdam+Thmor+Pro&family=Oswald&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: azure;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
body{
  width: 100vw;
  height: 100vh;
  background: #111;

}
/* Header */
header{
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 1;
}
header .navbar{
  width: 100%;
  padding: 0px 5%;
}
header .navbar ul{
  display: flex;
	justify-content: flex-end;
	align-items: stretch;
}
header .navbar ul li{
  list-style: none;
  position: relative;
  margin-left: 25px;
  transition: 0.5s all ease-in-out;
}
header .navbar ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  height: 100%;
  padding: 15px 25px;
  color: rgba(255, 255, 255, 0.26);
}
header .navbar ul li:hover,
header .navbar ul li.active{
  font-weight: 900;
}
/* Container */
#container{
  width: 100%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
section{
  /* z-index: -1; */
  height: max-content;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  /* padding-top: 85px; */
  scroll-snap-align: start;
  z-index: 0;
  /* border: 2px dashed coral; */
  --count: 5;
  --grade-lightness-section: calc( (var(--lightness-dark) - var(--lightness-dark-4)) / var(--count));
  --lightness-section: calc(var(--num-section) * var(--grade-lightness-section));
  background: hsl(var(--hue-Primary), var(--saturation), calc(var(--lightness-dark-4) + var(--lightness-section)));
}
.path-cococ{
  background: crimson;
  height: 200px;
  width: 200px;
  clip-path: polygon(100% 0, 0 0, 7% 24%, 24% 34%, 21% 55%, 45% 48%, 51% 70%, 78% 65%, 100% 100%);
}
section::after,
section::before{
  z-index: -1;
  content: '';
  --height: 190px;
  --width-top: 0.6;
  margin: 0;
  clip-path: polygon(100% 0, 0 0, 7% 24%, 24% 34%, 21% 55%, 45% 48%, 51% 70%, 78% 65%, 100% 100%);
  position: absolute;
  background: inherit;
}
section::before{
  top: 0;
  right: 0;
  width: calc(100% * var(--width-top));
  height: calc(var(--height) * var(--width-top));
}
section::after{
  transform: rotateZ(180deg);
  height: calc(var(--height) * (1 - var(--width-top)));
  width: calc(100% * (1 - var(--width-top)));
  left: 0;
  bottom: 0;
}
section:nth-child(1)::before,
section:last-child::after{
  display: none;
}
/*section:nth-child(odd),
section:nth-child(even)::after,
section:nth-child(even)::before{
  background: hsl(var(--hue-Primary), var(--saturation), var(--lightness-dark-4));
}
section:nth-child(even),
section:nth-child(odd)::after,
section:nth-child(odd)::before{
  background: hsl(var(--hue-Primary), var(--saturation), var(--lightness-dark-2));
}*/
section::before{
  --lightness-section: calc((var(--num-section) - 1) * var(--grade-lightness-section));
  /* background: hsl(var(--hue-Primary), var(--saturation), calc(var(--lightness-center) + (var(--grade-lightness) * (var(--num-section) - 1)))); */
  background: hsl(var(--hue-Primary), var(--saturation), calc(var(--lightness-dark-4) + var(--lightness-section)));
}
section::after{
  --lightness-section: calc((var(--num-section) + 1) * var(--grade-lightness-section));
  background: hsl(var(--hue-Primary), var(--saturation), calc(var(--lightness-dark-4) + var(--lightness-section)));
  /* background: hsl(var(--hue-Primary), var(--saturation), calc(var(--lightness-center) + (var(--grade-lightness) * (var(--num-section) + 1)))); */
}
img{
  height: 55px;
}
h2{
  font-size: 3rem;
  color: crimson;
}
/*
.hidden{
  opacity: 1;
  filter: blur(5px);
  left: 50vh;
  transition: all 0.7s;
  transition-delay: 0s;
}
.show{
  opacity: 1;
  left: 0vh;
  filter: blur(0);
}
*/
/* Scrollbar */
::-webkit-scrollbar{
  background: transparent;
  width: 8px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button{
  display: none;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #0c7cbd;
  border-radius: 4px;
}
::-webkit-scrollbar-track-piece{
  background: #333;
}
@media screen and (max-width: 720px) {
  header .navbar ul{
    justify-content: center;
  }
  header .navbar ul li{
    margin: 0;
  }
  h2{
    font-size: 2rem;
    color: crimson;
  }
}